

#safety-app {
	width: 100%;
	margin: 0;
	padding: 0;
	display: block;
	position: relative;
	overflow: hidden;


	#safety-warning {
		background-color: #28343e;
		width: 100%;
		position: relative;
		cursor: pointer;
		max-height: 300px;
		-webkit-transition: 300ms ease;
		transition: 300ms ease;

		#warning-text {
			max-width: 700px;
			color: #fff;
			padding: 10px;
			margin: 0px auto;
			font-family: $font-semibold;
			font-size: 16px;
			padding-right: 30px;
			-webkit-transition: 400ms ease 400ms;
			transition: 400ms ease 400ms;

			&:after {
				font-family: $font-awesome;
				content: "\f00d";
				position: absolute;
			    right: 20px;
			    top: calc(50% - 10px);
			    font-size: 20px;
			}
		}

		&.hide-warning {
			max-height: 0;

			#warning-text {
				opacity: 0;
				-webkit-transform: translate3d(0, 15px, 0);
				        transform: translate3d(0, 15px, 0);
			}
		}
	}



	&.loading {
		#safety-phone-numbers-container {
			opacity: 0;
			-webkit-transform: translate3d(0, 30px, 0);
			        transform: translate3d(0, 30px, 0);

			#safety-phone-numbers {
				-webkit-transform: translate3d(0, 20px, 0);
				        transform: translate3d(0, 20px, 0);
				opacity: 0;
			}
		}

		#evacuation-protocol-container {
			-webkit-transform: translate3d(0, 20px, 0);
			        transform: translate3d(0, 20px, 0);
			opacity: 0;

			#evacuation-protocol {
				#evac-protocol-title {
					-webkit-transform: translate3d(0, 20px, 0);
					        transform: translate3d(0, 20px, 0);
					opacity: 0;
				}

				#evac-procedure {
					-webkit-transform: translate3d(0, 20px, 0);
					        transform: translate3d(0, 20px, 0);
					opacity: 0;

					#step-1, #step-2 {
						&:after {
							-webkit-transform: scaleX(0) translate3d(-100px, 0, 0);
							        transform: scaleX(0) translate3d(-100px, 0, 0);
						}
					}
				}
			}
		}

		#evacuation-maps-container {
			-webkit-transform: translate3d(0, 20px, 0);
			        transform: translate3d(0, 20px, 0);
			opacity: 0;

			#evacuation-maps {
				-webkit-transform: translate3d(0, 20px, 0);
				        transform: translate3d(0, 20px, 0);
				opacity: 0;
			}
		}

	}



	#safety-phone-numbers-container {
		margin: 0;
		padding: 0;
		width: 100%;
		background-color: #394b59;
		opacity: 1;
		-webkit-transition: 300ms ease 200ms;
		transition: 300ms ease 200ms;
		-webkit-transform: translate3d(0, 0, 0);
		        transform: translate3d(0, 0, 0);



		#safety-phone-numbers {
			max-width: 700px;
			margin: 0px auto;
			padding: 30px;
			-webkit-transition: 500ms ease 500ms;
			transition: 500ms ease 500ms;
			opacity: 1;
			-webkit-transform: translate3d(0,0,0);
			        transform: translate3d(0,0,0);


			#emergency-contact {
				font-weight: bold;
				text-transform: uppercase;
				float: left;
				width: 50%;

				a {
					&:hover {
						text-decoration: none;
					}
				}

				h2 {
					color: #feb915;
					font-size: 20px;
					font-family: $font-semibold;
					    font-weight: bold;
					text-align: center;
				}

				.phone-number {
					color: #fff;
					font-size: 30px;
					font-family: $font-semibold;
					    font-weight: bold;
					text-align: center;
				}

			}

			#non-emergency-contact {
				font-weight: bold;
				text-transform: uppercase;
				float: left;
				width: 50%;
				color: #bbc6cb;

				a {
					&:hover {
						text-decoration: none;
					}
				}

				h2 {
					font-size: 20px;
					color: #bbc6cb;
					font-family: $font-semibold;
					    font-weight: bold;
					text-align: center;
				}

				.phone-number {
					font-size: 30px;
					font-family: $font-semibold;
					    font-weight: bold;
					text-align: center;
					color: #bbc6cb;
				}

				#additional-numbers {
					#additional-contact-title {
						text-align: center;
					    text-transform: none;
					    font-family: $font-semibold;
					    font-weight: normal;
					    font-size: 16px;
					    padding-top: 10px;
					    line-height: 2.5em;
					    color: #fff;
					    cursor: pointer;

					    &:before {
					    	content: "\f067";
					    	font-family: $font-awesome;
					    	position: relative;
						    left: -10px;
						    top: -2px;
						    font-size: 13px;
						    -webkit-transition: 200ms ease;
						    transition: 200ms ease;
						    -webkit-transform: rotate(-180deg);
						            transform: rotate(-180deg);
						    display: inline-block;
					    }
					    &:after {
					    	display: none;
					    }

					    &.open {
					    	&:before {
						    	content: "\f068";
						    	font-family: $font-awesome;
							    -webkit-transition: 200ms ease;
							    transition: 200ms ease;
							    -webkit-transform: rotate(180deg);
							            transform: rotate(180deg);
							    display: inline-block;

						    }


					    }
					}


					#additional-phone-numbers {
						text-align: center;
					    text-transform: none;
					    font-family: $font-semibold;
					    font-weight: normal;
					    font-size: 16px;
					    display: none;

					    &.show {
					    	display: block;
					    }

						ul {
							list-style-type:none;

							&.show {
								li {
					    			opacity: 1;
					    			-webkit-transform: translate3d(0,0,0);
					    			        transform: translate3d(0,0,0);
					    		}
							}

							li {
								line-height: 1.4em;
								opacity: 0;
								-webkit-transform: translate3d(0, 20px, 0);
								        transform: translate3d(0, 20px, 0);
								-webkit-transition: 300ms ease;
								transition: 300ms ease;
								-webkit-transition-delay: 300ms;
								        transition-delay: 300ms;

								&:nth-child(1) {
									-webkit-transition-delay: 0ms;
									        transition-delay: 0ms;
								}
								&:nth-child(2) {
									-webkit-transition-delay: 30ms;
									        transition-delay: 30ms;
								}
								&:nth-child(3) {
									-webkit-transition-delay: 60ms;
									        transition-delay: 60ms;
								}
								&:nth-child(4) {
									-webkit-transition-delay: 90ms;
									        transition-delay: 90ms;
								}
								&:nth-child(5) {
									-webkit-transition-delay: 120ms;
									        transition-delay: 120ms;
								}
								&:nth-child(6) {
									-webkit-transition-delay: 150ms;
									        transition-delay: 150ms;
								}
								&:nth-child(7) {
									-webkit-transition-delay: 180ms;
									        transition-delay: 180ms;
								}
								&:nth-child(8) {
									-webkit-transition-delay: 210ms;
									        transition-delay: 210ms;
								}
								&:nth-child(9) {
									-webkit-transition-delay: 240ms;
									        transition-delay: 240ms;
								}
								&:nth-child(10) {
									-webkit-transition-delay: 270ms;
									        transition-delay: 270ms;
								}


								a {
									color: #ffffff;
									text-transform: none;

									&:hover {
										text-decoration: none;
									}
								}
							}
						}
					}
				}

			}
		}
	}

	@media only screen and (max-width: 1024px) {
		#safety-phone-numbers-container {
			#safety-phone-numbers {
				#emergency-contact {
					float: none;
					width: 100%;

					h2 {
						text-align: left;
						display: inline-block;
						font-size: 28px;

					}

					.phone-number {
						text-align: left;
						display: inline-block;
    					margin: 0 10px;
    					font-size: 28px;
					}
				}

				#non-emergency-contact {
					float: none;
					width: 100%;

					#non-emergency-wrapper {
						#inner-wrapper {

						}
					}

					h2 {
						text-align: left;
						display: inline-block;
						font-size: 28px;
						font-family: $font-semibold;
						margin: 5px 0 0;
					}

					.phone-number {
						text-align: left;
						display: inline-block;
    					margin: 0 7px;
    					font-size: 28px;
    					color: #bbc6cb;
					}

					#additional-numbers {
						#additional-contact-title {
							font-size: 20px;
							text-align: left;
							padding:0;
							margin: 0 10px;

							&:before {
								left: -10px;
								font-size: 17px;
								top: -1px;
							}

						}

						#additional-phone-numbers {
							font-size: 20px;
							text-align: left;
							margin: 0 20px;

						}
					}
				}
			}
		}
	}

	@media only screen and (max-width: 510px) {
		#safety-phone-numbers-container {
			#safety-phone-numbers {
				padding: 10px;

				a {
					cursor: pointer;

					&:hover {
						text-decoration: none;
					}
				}

				#emergency-contact {
					float: none;
					width: calc(100% - 20px);
					padding: 10px;
					background-color: #feb915;
					border-bottom: 3px solid #28343e;
					border-right: 2px solid #28343e;
					margin: 0 0 10px 0;

					#emergency-wrapper {
						width: 260px;
						margin: 0px auto;

						h2 {
							text-align: center;
							display: inline-block;
							font-size: 18px;
							color: #394b59;
							font-family: $font-semibold;

						}

						.phone-number {
							text-align: center;
							display: inline-block;
	    					margin: 0 10px;
	    					color: #394b59;
	    					font-size: 18px;
						}
					}
				}

				#non-emergency-contact {
					float: none;
					width: 100%;

					#non-emergency-wrapper {
						padding: 10px;
						background-color: #4d5d6a;
						border-bottom: 3px solid #28343e;
						border-right: 2px solid #28343e;



						#inner-wrapper {
							width: 303px;
							margin: 0px auto;

							h2 {
								text-align: left;
								display: inline-block;
								font-size: 18px;
								font-family: $font-semibold;
								margin: 5px 0 0;
								color: #feb915;
							}

							.phone-number {
								text-align: left;
								display: inline-block;
		    					margin: 0 10px;
		    					color: #feb915;
		    					font-size: 18px;
							}
						}

					}

					#additional-numbers {
						#additional-contact-title {
							font-size: 18px;
							text-align: left;
							padding:0;
							margin: 0 10px;
							position: relative;

							&:before {
								display: none;
							}

						    &:after {
						    	content: "\f067";
						    	font-family: $font-awesome;
						    	position: absolute;
							    right: 0px;
							    top: 0px;
							    font-size: 13px;
							    -webkit-transition: 200ms ease;
							    transition: 200ms ease;
							    -webkit-transform: rotate(-180deg);
							            transform: rotate(-180deg);
							    display: inline-block;
						    }

						    &.open {
						    	&:after {
							    	content: "\f068";
							    	font-family: $font-awesome;
								    -webkit-transition: 200ms ease;
								    transition: 200ms ease;
								    -webkit-transform: rotate(180deg);
								            transform: rotate(180deg);
								    display: inline-block;

							    }

							    &:before {
							    	display: none;
							    }
						    }

						}

						#additional-phone-numbers {
							font-size: 18px;
							text-align: left;
							margin: 0 20px;

							ul {
								padding-bottom: 10px;
							}

						}
					}
				}
			}
		}
	}

	#evacuation-protocol-container {
		margin: 0;
		padding: 0;
		width: 100%;
		background-color: #efefef;
		opacity: 1;
		-webkit-transition: 300ms ease 300ms;
		transition: 300ms ease 300ms;
		-webkit-transform: traslate3d(0, 0, 0);
		        transform: traslate3d(0, 0, 0);


		#evacuation-protocol {
			max-width: 700px;
			margin: 0px auto;
			padding: 30px;

			#evac-protocol-title {
				font-weight: bold;
				text-transform: uppercase;
				text-align: center;
				color: #394b59;
				font-size: 24px;
				font-family: $font-regular;
				-webkit-transition: 500ms ease 650ms;
				transition: 500ms ease 650ms;
				opacity: 1;
				-webkit-transform: translate3d(0,0,0);
				        transform: translate3d(0,0,0);
			}

			#evac-procedure {
				-webkit-transition: 500ms ease 800ms;
				transition: 500ms ease 800ms;
				opacity: 1;
				-webkit-transform: translate3d(0,0,0);
				        transform: translate3d(0,0,0);

				.step {
					width: 28%;
					margin: 2.5%;
					float: left;
					color: #394b59;
				    font-size: 15px;
				    font-family: $font-semibold;
				    line-height: 1.4em;

					img {
						margin: 0px auto;
						display: block;
						max-width: 140px;
						width: 100%;
					}

					ul {
						max-width: 140px;
						margin: 20px auto 0;
						line-height: 1.4em;
					}

					p {
						max-width: 150px;
						margin: 20px auto 0;
						line-height: 1.4em;
					}
				}

				#step-1 {
					position: relative;

					// &:after {
					// 	display: block;
					//     position: absolute;
					//     content: " ";
					//     height: 7px;
					//     width: 95px;
					//     background-color: #fff;
					//     top: 66px;
					//     right: -63px;
					//     transition: 300ms ease 1.4s;
					//     transform: scaleX(1) translate3d(0,0,0);
					// }
				}

				#step-2 {
					position: relative;

					// &:after {
					// 	display: block;
					//     position: absolute;
					//     content: " ";
					//     height: 7px;
					//     width: 95px;
					//     background-color: #fff;
					//     top: 66px;
					//     right: -63px;
					//     transition: 300ms ease 1.9s;
					//     transform: scaleX(1) translate3d(0,0,0);
					// }
				}

			}
		}
	}

	@media only screen and (max-width: 510px) {
		#evacuation-protocol-container {
			#evacuation-protocol {
				#evac-protocol-title {
					font-size: 5vw;
				}

				#evac-procedure {
					.step {
						float: none;
						width: 100%;
						margin: 15px 0;

						img {
							width: 30%;
							float: left;
						}

						ul {
							float: left;
						    width: calc(70% - 30px);
						    max-width: none;
						    padding-left: 30px;
						    vertical-align: middle;
						    font-size: 4vw;
						}

						p {
							float: left;
						    width: calc(70% - 30px);
						    max-width: none;
						    padding-left: 20px;
						    vertical-align: middle;
						    font-size: 4vw;
						}

					}
				}
			}
		}
	}

	#evacuation-maps-container {
		margin: 0;
		padding: 0;
		width: 100%;
		background-color: #fff;
		opacity: 1;
		-webkit-transition: 300ms ease 400ms;
		transition: 300ms ease 400ms;
		-webkit-transform: traslate3d(0, 0, 0);
		        transform: traslate3d(0, 0, 0);


		#evacuation-maps {
			max-width: 700px;
			padding: 30px;
			margin: 0px auto;
			-webkit-transition: 500ms ease 1000ms;
			transition: 500ms ease 1000ms;
			opacity: 1;
			-webkit-transform: translate3d(0,0,0);
			        transform: translate3d(0,0,0);

			#evac-map-title {
				font-weight: bold;
				text-transform: uppercase;
				text-align: center;
				color: #394b59;
				font-size: 24px;
				font-family: $font-regular;

				@media only screen and (max-width: 510px) {
					font-size: 5vw;
				}

			}

			#maps-disclaimer {
				text-align: center;
				padding: 20px 0;
				color: #394b59;
				font-size: 18px;
				font-family: $font-semibold;

				@media only screen and (max-width: 510px) {
					font-size: 4vw;
				}
			}

			#maps {
				padding: 20px 0;

				ul {
					list-style-type: none;
					padding: 0;
					margin: 0;

					li {
						width: 25%;
						float: left;

						a {
							margin: 0px auto;
							display: block;
							max-width: 122px;
							overflow: hidden;
							margin: 0 10px;

							img {
								width: 100%;
							}

							&:hover {

							}

							&.googleCampusMap {
								color: #394b59;
								text-align: center;
								margin: 5px;

								&:before {
									content: "\f041";
									font-family: $font-awesome;
									margin-right: 5px;
								}

								&:hover {
									text-decoration: none;
								}

							}
						}
					}
				}
			}

		}
	}



}
